.showcase {
  overflow: hidden;
  // position: relative;
}

.overlay {
  // background-color: rgba(0, 0, 0, 0.6);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.9) 70%, rgba(0, 0, 0, 1) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; /* Above the movie-card but below movie-info */
}

.carousel {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  margin: 0;
  overflow: hidden;
}

.movie-card {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  z-index: 0; /* Behind overlay */
}

.movie-card img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  border-radius: 0;
  position: relative;
}

.movie-info {
  position: absolute;
  bottom: 10%;
  left: 5%;
  // background: rgba(0, 0, 0, 0.7);
  padding: 15px;
  border-radius: 8px;
  width: 50%;
  color: white;
  transition: all 0.3s ease-in-out;
  z-index: 2 !important; /* Above the overlay */
}

.movie-title {
  font-size: 2rem;
}

.justify-space-between{
  justify-content: space-between;
}

.div-custom {
  bottom: -25px;
  left: 15px;
}

.bg-custom {
  background-color: rgba(0, 0, 0, 0.5);
}

form {
  color: #fff !important;
}

form:focus div{
  background-color: #fff;
  color: #fff;
}

ngx-slick-carousel .slick-arrow {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

ngx-slick-carousel .slick-prev {
  left: 50px !important;
  z-index: 3 !important;
}

ngx-slick-carousel .slick-next {
  right: 50px !important;
  z-index: 3 !important;
}

ngx-slick-carousel .slick-dots {
  bottom: 10px !important;
  z-index: 3 !important;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .movie-info {
    width: 70%;
    padding: 12px;
    bottom: 5%;
  }
}

@media (max-width: 768px) {
  .movie-info {
    width: 90%;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: transparent;
  }
}

@media (max-width: 480px) {
  .movie-info {
    width: 95%;
    padding: 10%;
    font-size: 14px;
    z-index: 3 !important;
    bottom: 10%;
  }

  .movie-title {
    font-size: 18px;
  }

  .div-custom {
    left: 35%;
  }

  ngx-slick-carousel .slick-prev {
    display: none !important;
  }
  
  ngx-slick-carousel .slick-next {
    display: none !important;
  }
}
